<h2>View All Tasks</h2>

<% @list.tasks.each do | task| %>
  <p>
    <strong>Task Title:</strong>
    <%= task.title %>
  </p>
 
  <p>
    <strong>Task Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <%= link_to 'Destroy', list_task_path(@list, task), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>