<h2>View Single Task</h2>


<strong>Task Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Task Description:</strong>
  <%= @task.description %>
</p>

 <strong>Task Priority:</strong>
  <%= @task.priority %>
</p>